html {
    height: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    overflow-x: hidden;
}

.chart-container {
    position: relative;
}

#solution-container {
    display: grid;
    grid-gap: 40px;
    overflow-y: scroll;
}

.page {
    height: 100%;
}

.settings-card {
    margin: 32px;
}
